$black:#202124;
$blue:#1967d2;
$grey:#696969;
$grey2:#979797;
$border1:#ECEDF2;
$grey3:#77838f;
$grey4:#f0f5f7;
$yellow:#f9ab00;
$white:#ffffff;
$blue2: #302ea7;
$bgcolor1:#f5f7f8;
$breakpoint-lg: 1095px;
$breakpoint-md: 878px;
$breakpoint-sm: 778px;
$breakpoint-xs: 448px;