$black:#202124;
$blue:#1967d2;
$grey:#696969;
$grey2:#979797;
$yellow:#f9ab00;
$white:#ffffff;
$blue2: #302ea7;
$breakpoint-lg: 1095px;
$breakpoint-md: 997px;
$breakpoint-sm: 778px;
$breakpoint-xs: 448px;