#banner{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url("../images/bg-slider2.jpg");
    .banner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .banner-left{
            display: flex;
            flex-direction: column;
            .banner-trending{
                padding-top: 20px;
                .popular-searches{
                  display: flex;
                  li{
                    color: $white;
                    a{
                      @include link
                    }
                  }
                    
                }
            }
        }
    }
}