#details {
    background-color: $bgcolor2;
    padding-top: 100px;
    padding-bottom: 100px;

    .details {
        display: flex;
        justify-content: space-between;

        .details-left {
            .card {
                border-radius: 8px;
                width: 100%;
                display: flex;



                .job-image {
                    max-width: 100%;

                    img {

                        min-width: 50px;
                        max-width: 80%;
                        height: auto;
                    }
                }


                .details-box-text {
                    .details-text-h2 {
                        font-size: 22px;
                        font-weight: 500;
                        color: $black;

                    }

                    .details-description {
                        margin-top: 10px;
                        color: $grey;

                        a {
                            color: $blue; // Blue color for the link, you can customize this
                            text-decoration: none;
                            // Add other styling properties as needed
                        }
                    }

                    .details-job-type {
                        display: flex;
                        margin-top: 15px;

                        p {
                            margin-right: 20px;
                            padding: 5px 10px;
                            background-color: rgba(25, 103, 210, 0.15);
                            color: $blue;
                            border-radius: 15px;
                            font-size: 14px;
                            border: 1px solid $border1;
                        }

                    }
                }
            }
        }

        .details-right {
            .details-apply {
                padding: 10px 50px;
                cursor: pointer;
                border-radius: 5px;
                border: none;
                background-color: $yellow;
                transition: all 0.5s ease;
                color: $white;

                &:hover {
                    background-color: transparent;
                    border: 1px solid $yellow;
                    color: $yellow;
                }
            }



        }
    }
}

#detailsInfo {
    padding-top: 50px;

    .detailsInfo {
        display: flex;
        gap: 30px;

        .description {
            max-width: 70%;

            h2 {
                font-size: 22px;
                font-weight: 500;
                color: $black;
                margin-bottom: 10px;
            }

            p {
                color: $grey;
                line-height: 1.8;
            }
        }

        .overview {
            background-color: $bgcolor2;
            padding: 20px;
            border-radius: 5px;

            h2 {
                font-size: 22px;
                font-weight: 500;
                color: $black;
                margin-bottom: 10px;
            }
        }

        ul {
            flex-direction: column;

            li {
                color: $black;
                padding-bottom: 20px;

                i {
                    margin-right: 5px;
                    color: $grey;
                }
            }

        }

    }

    .desc-share {
        display: flex;
        align-items: center;
        gap: 10px;

        h2 {
            font-size: 22px;
            font-weight: 500;
            color: $black;
            margin-bottom: 10px;
        }

        a {
            padding: 6px 40px;
            cursor: pointer;
            border-radius: 5px;
            color: $white;
            border: none;
            &:nth-child(2) {
               background-color:#1967D2 /* Change the color for the first anchor */
            }
    
            &:nth-child(3) {
                background-color: #D93025; /* Change the color for the second anchor */
            }
    
            &:nth-child(4) {
                background-color: #BC91E8; 
            }
           
        }
       
    }

}
// SCSS for the modal
#applyModal {
    display: none;
  
    &.modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
  
      .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fefefe;
        padding: 20px;
        border: 1px solid #888;
  
        // SCSS for the form elements
        form {
          label {
            display: block;
            margin-bottom: 8px;
          }
  
          input[type="file"],
          input[type="email"],
          textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
          }
  
          textarea {
            resize: vertical;
          }
  
          button {
            background-color: $blue;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
          }
  
          // Style for the acceptance checkbox
          #acceptTerms {
            margin-right: 8px;
          }
        }
  
        p {
          margin-top: 16px;
        }
      }
  
      .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
  
        &:hover,
        &:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
  