#nav2 {
    background-color: $white;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0px;

        .nav-left {
            .nav-logo-2 {
                display: block;
            }
        }

        .nav-middle {
            .nav-list {
                display: flex;

                li {
                    padding: 0 20px;

                    a {
                        text-decoration: none;
                        color: $black;
                    }
                }

                .pages-dropdown {
                    position: relative;

                    i {
                        margin-left: 5px;
                    }

                    &:hover {
                        .pages-menu {
                            display: block;
                        }
                    }

                    .pages-menu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        background-color: #fff;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                        border-radius: 8px;
                        z-index: 1000;


                        li {
                            padding: 10px 50px 10px 10px;
                        }

                        a {
                            color: #333;
                            text-decoration: none;
                            display: block;
                        }
                    }
                }
            }
        }

        .nav-right {

            .job-post,
            .favorites-menu {
                background-color: $blue;
                color: $white;

                i {
                    margin-right: 10px;
                }

                @include button1
            }

            .login {
                background-color: $bgcolor1;
                color: $blue;
                transition: all 0.3s ease-out;
                @include button1;

                &:hover {
                    background-color: $blue;
                    color: $white;
                }
            }

        }

        .nav-menu {
            display: none;
        }

    }
}

.menu-container {
    z-index: -100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: flex-start;
    /* Align to the top of the container */
    justify-content: flex-start;
    /* Align to the left of the container */
    z-index: 1000;


    .menu-popup {
        background-color: $black;
        height: 100%;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 300px;
        max-height: 100%;
        /* Set the maximum height for scrolling */
        overflow-y: auto;
        transform: translateX(-100%);
        /* Initially hide the menu off-screen to the left */
        transition: transform 0.3s ease-out;
        /* Add transition for smooth animation */

        &.menu-open {
            transform: translateX(0);
            /* Move the menu back on-screen from the left */
        }

        .popup-logo {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px;
            background-color: aliceblue;

            .popup-close {
                i {
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }
    }

    .popup-list {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 25px;

        li {
            a {
                color: $grey2;
                text-decoration: none;
            }
        }

        .pages-dropdown {
            position: relative;
            transition: all 0.3s ease-out;

            i {
                margin-left: 5px;
            }

            &:hover {
                .pages-menu {
                    display: block;
                }
            }

            .pages-menu {
                display: none;
                position: absolute;
                top: 100%;
                left: 0;
                background-color: #fff;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
                border-radius: 8px;
                z-index: 1000;

                li {
                    padding: 10px 50px 10px 10px;
                }

                a {
                    color: #333;
                    text-decoration: none;
                    display: block;

                }
            }

        }
    }

    .popup-text {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 15px;

        h2 {
            color: $grey;
            font-size: 16px;
        }

        h4 {
            color: $white;
        }

        p {
            color: white;
        }

    }

    .popup-media {
        display: flex;
        gap: 20px;

        .popup-media1 {
            padding: 15px;

            i {
                color: $grey;
            }
        }

    }
}

#job-list {
    .banner-filter {
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px 30px 10px;
        border-radius: 20px;
        width: 100%;

        .banner-search-container {
            display: flex;
            align-items: center;
            width: 70%;

            #job-search {
                @include banner-padding;
                // border-right: 1px solid #e8e9eb;
                font-size: 16px;
                width: 100%;

                &:focus {
                    outline: none;
                }
            }

            i {
                color: $grey;
                font-size: 20px
            }
        }

        .banner-select-container {
            display: flex;
            align-items: center;

            i {
                color: $grey;
                margin-left: 10px;
                font-size: 20px
            }

        }
    }

    .job-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;

        .card {
            border-radius: 8px;
            padding: 30px;
            display: flex;
            border: 1px solid $border1;
            background-color: $white;

            .job-image {
                max-width: 100%;

                img {
                    min-width: 50px;
                    max-width: 50%;
                    height: auto;
                }
            }

            .joblist-box-text {
                .joblist-text-p {
                    display: flex;
                    justify-content: space-between;
                    gap: 20px;
                    margin: 8px 0 0;
                    color: $grey;
                    font-size: 14px;

                }

                .joblist-text-a {
                    a {
                        text-decoration: none;
                        color: $black;
                        font-weight: 500;
                        font-size: 18px;
                        transition: all 0.3s ease;

                        &:hover {
                            color: $blue;
                        }
                    }
                }

                .joblist-job-type {
                    margin: 15px 0 0;

                    a {
                        text-decoration: none;
                        font-size: 14px;
                        padding: 4px 15px;
                        background-color: rgba(25, 103, 210, 0.15);
                        color: $blue;
                        border-radius: 15px;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: $breakpoint-lg) {
    #nav2 {
        position: relative;
        background-color: white;

        .navbar {
            .nav-left {
                .nav-logo {
                    display: none;
                }

                .nav-logo-2 {
                    display: block;
                }
            }

            .nav-middle {
                display: none;
            }

            .nav-right {
                display: none;
            }

            .nav-menu {
                display: flex;

                a {
                    color: black;
                    margin-right: 50px;

                    i {
                        font-size: 20px;
                    }
                }
            }
        }
    }

}

#job-list {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $bgcolor1;

}