#sec4 {
    background-color: $bgcolor1;
    padding-top: 100px;
    padding-bottom: 100px;

    .sec4 {
        .sec4-text {
            @include text-center
        }

        .sec4-pagination {
            display: flex;
            justify-content: center;
            gap: 10px;
            margin: 20px 0 0 0;

            div {

                cursor: pointer;
                padding: 5px 15px 5px 15px;
                border-radius: 10px;
                background-color: white;

                &.active {
                    background-color: $yellow;
                    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
                    color: white;

                }

                &:hover:not(.active) {
                    background-color: $yellow;
                    color: white;

                }


            }
        }

        .sec4-container {
            padding-top: 60px;
            display: grid;
            gap: 30px;
            grid-template-columns: repeat(2, 1fr);

            .sec4-box {
                position: relative;
                display: flex;
                background-color: $white;
                border: 1px solid $border1;
                padding: 30px;
                border-radius: 8px;

                .sec4-favorites{
                    position: absolute;
                    right: 20px;
                    i{
                        cursor: pointer;
                        color: $grey;
                    }

                }

                .sec4-image {
                    max-width: 100%;

                    img {
                        min-width: 50px;
                        max-width: 50%;
                        height: auto;
                    }
                }

                .sec4-box-text {
                    .sec4-text-p {
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        margin: 8px 0 0;
                        color: $grey;
                        font-size: 14px;

                    }

                    .sec4-text-a {
                        a {
                            text-decoration: none;
                            color: $black;
                            font-weight: 500;
                            font-size: 18px;
                            transition: all 0.3s ease;

                            &:hover {
                                color: $blue;
                            }
                        }
                    }

                    .sec4-job-type {
                        margin: 15px 0 0;
                        a{
                            text-decoration: none;
                            font-size: 14px;
                            padding: 4px 15px;
                            background-color: rgba(25, 103, 210, 0.15);
                            color:$blue;
                            border-radius: 15px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: $breakpoint-md){
    #sec4 {
        .sec4 {
            .sec4-container {
                grid-template-columns: repeat(1, 1fr);
    
                .sec4-box {
                    display: flex;
                    background-color: $white;
                    border: 1px solid $border1;
                    padding: 30px;
                    border-radius: 8px;
    
                    .sec4-image {
                        max-width: 100%;
    
                        img {
                            min-width: 50px;
                            max-width: 80%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }


}